@import url(//db.onlinewebfonts.com/c/971c473a19b6bba1059ba6add6af78d7?family=OCR+A+Extended);

*{
    font-size: 1em;
    font-family: Trebuchet MS, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    color: #073B3A;
}

body{
    background-color: #D8EED3;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}


/*	===TEXTY===	*/

p{
	font-weight: 100;
}

ul{
	list-style-type: none;
	font-size: 1.2em;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

a{
	font-style: italic;
}

a:hover, #jmeno_zbozi:hover{
	color: #08A045;
}

/*	===OBECNE CLASS===	*/

.empty{
	height: 15rem;
	width: 100%;
}

.empty_smol{
	height: 2rem;
	width: 100%;
}

/*	===BUTTONY===	*/
#pridat_button, #pridano_button, #header_button, #nedostupny_button{
	float: right;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	background-color: #0B6E4F;
	color: #fff;
	padding: 0.25rem 0.6rem;
	border-radius: 0.7rem;
}

#zbozi_button, #zbozi_nedostupny_button, #zbozi_pridano_button{
	float: left;
	margin-top: 20px;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	background-color: #0B6E4F;
	color: #fff;
	padding: 0.25em 0.6em;
	border-radius: 0.7rem;
}

#header_button{
	float: right;
	background-color: #fff;
	color: #0B6E4F;
	font-size: 2em;
	margin-right: 5rem;
	margin-top: 1rem;
	font-family: OCR A Extended;
}

#nedostupny_button, #zbozi_nedostupny_button{
	background-color: #AF2424;
}

#pridano_button, #zbozi_pridano_button{
	background-color: #08A045;
}

/*	===STRUKTURA STRANKY===	*/

#hlavicka, #pata{
	height: 15%;
	position: relative;
	margin: 0px;
	padding: 1.5rem;
	padding-left: 2rem;
	background-color: #0B6E4F;
	overflow: hidden;
}

#pata{
	padding-left: 4rem;
}

/*vsechno mezi hlavickou a patkou */
#obsah{
	overflow: hidden;
	padding: 3em;
}

/*cely obsah stranky, v indexu pouze cast bez menu nalevo*/
#hlavni_obsah{
	overflow: hidden;
	padding-right: 5%;
	height: 100%;
}

/*	===HLAVICKA===	*/
#banner{
	float: left;
	padding-right: 30px;
	max-height: 8em;
}

#uzivatel{
	float: right;
	max-height: 3rem;
	margin-right: 2rem;
	margin-top: 1rem;
}

/*	===INDEX===	*/

/*levy uzsi sloupec*/
#menu{
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 2em;
}

#msg{
	color: #08A045;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

/*jeden kus zbozi*/
.shopbox{
	overflow: hidden;
	border-bottom: 1px solid #0B6E4F;
	margin: 10px;
	padding: 10px;
}

/*ohranici thumbnail do ctverce*/
.shopbox_thumb{
	height: 8em;
	width: 8em;
	margin: 0 1.5em 1.5em 0;
	float: left;
	background-color: #fff;
	display: flex;
}

.thumb_img{
	max-height: 8em; 	
	max-width: 8em;
	margin: auto;
}

/*zbytek shopboxu bez obrazku*/
.shopbox_info{
	float: left;
}

.jmeno_zbozi, .cena{	
	margin-right: 10px;
	font-style: normal;
}

/*	===ZBOZI===	*/
#foto_zbozi{
	float: left;
	max-width: 500px;
	max-height: auto;
	margin: 20px;
	margin-left: 0px;
	border-style: solid;
	border-color: #fff;
	border-width: 30px;
}

#parametry_zbozi{
	float: left;
	margin: 2rem;
}

/*	===SESTAVA===	*/
input[type=text]{
	font-size: 2em;
	padding: 10px;
	margin-top: 3em;
	border-radius: 15px;
}

#share{
	margin-top: 0.5em;
}

#bila{
	color: #fff;
}

#nedostupne{
	color: #AF2424;
}