@import url(//db.onlinewebfonts.com/c/971c473a19b6bba1059ba6add6af78d7?family=OCR+A+Extended);

*{
    font-size: 1em;
    font-family: Trebuchet MS, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    color: #073B3A;
}

body{
    background-color: #D8EED3;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}


/*	===TEXTY===	*/

p{
	font-weight: 100;
}

ul{
	list-style-type: none;
	font-size: 1.2em;
}

h1{
	font-size: 2.5em;
	margin-bottom: 1em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

a{
	font-style: italic;
	transition: color 0.2s;
}

a:hover{
	color: #08A045;
}

/*	===OBECNE CLASS===	*/

.empty{
	height: 15rem;
	width: 100%;
}

.empty_smol{
	height: 2rem;
	width: 100%;
}

.white{
	color: #fff;
}

.red{
	color: #AF2424;
}

/*	===BUTTONY===	*/
.btn{
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	padding: 0.25rem 0.6rem;
	border-radius: 0.7rem;
	margin-top: 1rem;

	color: #fff;
	background-color: #0B6E4F;
	transition: color 0.5s, background-color 0.5s;

	float: right;
}

.btn:hover{
	background-color: #08A045;
}

.btn.left, .btn.left_red, .btn.left_light{
	float: left;
}

.btn.large, .btn.header{
	font-size: 2em;
	margin-right: 2rem;
	margin-top: 1rem;
	padding: 0.5rem 1rem;	
}

.btn.red, .btn.left_red{
	background-color: #AF2424;
}

.btn.red:hover, .btn.left_red:hover{
	color: #F5CCCC;
	background-color: #661414;
}

.btn.light, .btn.left_light{
	background-color: #08A045;
}

.btn.light:hover, .btn.left_light:hover{
	background-color: #0AC254;
}

/*	===FORMULARE===	*/

/*z nejakeho duvodu to neprepise button, ktery slouzi jako input*/
input{
	display: block;
	font-size: 2em;
	padding: 0.6rem;
	margin-top: 3rem;
	border-radius: 1rem;
}

input[type=password]{
	margin-top: 1rem;
}

/*	===STRUKTURA STRANKY===	*/

#hlavicka, #pata{
	height: 15%;
	position: relative;
	margin: 0px;
	padding: 1.5rem;
	padding-left: 2rem;
	background-color: #0B6E4F;
	overflow: hidden;
}

#pata{
	padding-left: 4rem;	
}

#pata *{
	color: #fff;
	transition: color 0.2s;
}

#pata a:hover{
	color: #0AC254;
}

/*vsechno mezi hlavickou a patkou */
#obsah{
	overflow: hidden;
	padding: 3em;
}

/*cely obsah stranky, nekde vsak pouze cast */
#hlavni_obsah{
	overflow: hidden;
	padding-right: 5%;
	height: 100%;
}

/*	===HLAVICKA===	*/
#banner{
	float: left;
	padding-right: 30px;
	max-height: 8em;
}

#uzivatel{
	float: right;
	max-height: 3rem;
	margin-right: 2rem;
	margin-top: 1rem;
}

.btn.header{
	float: right;
	background-color: #fff;
	color: #0B6E4F;
	font-family: OCR A Extended, Courier New, monospace;
}

/*	===INDEX===	*/

/*levy uzsi sloupec*/
#menu{
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 2em;
}

#msg{
	color: #08A045;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

/*jeden kus zbozi*/
.shopbox{
	overflow: hidden;
	border-bottom: 1px solid #0B6E4F;
	margin: 10px;
	padding: 10px;
}

/*ohranici thumbnail do ctverce*/
.shopbox_thumb{
	height: 8em;
	width: 8em;
	margin: 0 1.5em 1.5em 0;
	float: left;
	background-color: #fff;
	display: flex;
}

.thumb_img{
	max-height: 8em; 	
	max-width: 8em;
	margin: auto;
}

/*zbytek shopboxu bez obrazku*/
.shopbox_info{
	float: left;
}

/*jmeno zbozi, cena*/
.shopbox_info h3, .shopbox_info h2{	
	margin-right: 10px;
	font-style: normal;
}

/*	===ZBOZI===	*/
.foto_zbozi{
	float: left;
	max-width: 500px;
	max-height: auto;
	margin: 20px;
	margin-left: 0px;
	border: 2rem solid #fff;
}

.parametry_zbozi{
	float: left;
	margin: 2rem;
}

/*	===SESTAVA===	*/
#suma{
	margin: 3rem 0;
}

#share{
	margin: 1rem 0 3rem;
}

/*	===USER, LOGIN===	*/
#registrace{
	float: right;
	width: 40%;
	height: 100%;
	padding-left: 2em;
}

#reg_form input{
	display: block;
	font-size: 1.5em;
	padding: 0.6rem;
	margin-top: 3rem;
	border-radius: 1rem;
}

#reg_form input[type=password]{
	margin-top: 1rem;
}

#user_welcome{
	margin-bottom: 3em;
}

.user_build{
	font-size: 1.5em;
}